* {
    margin: 0;
    padding: 0;
}
.navigation-box{
    height: 45px;
    width: 100%;
    background-color: #1fab89;
}
.carusel-container{
    width: 100%;
    height: 350px;
    background-color: lightgray;
}